{% extends 'AmsterdamPHPSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="header-photo" style="background-image:url('{{ getMeetupPhotoUrl(header_photo, 'highres') }}')">
        <div class="photo-credits">photo by {{ getMeetupPhotoCredits(header_photo) }}</div>
        <span>An english-speaking group for <b>PHP</b></span>
        <span>developers in and around <b>Amsterdam</b></span>
    </div>

    <div class="row sponsor-box">
        <div class="col-md-12 col-lg-12">
            <a href="{{ path('amsphp_sponsors') }}"><h2>SPONSORS</h2></a>
            <ul class="sponsor-list bxslider">

                {% for sponsor in sponsors %}
                    <li style="background-image:url('{{ sponsor.image_url }}')">
                        <a href="{{ sponsor.url }}">
                            <span></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <a class="callout sponsor" href="{{ path('amsphp_be_a_sponsor') }}">
                <p class="call">SPONSOR US!</p>
                <p>Show your love for the community</p>
            </a>

            <a class="callout speaker" href="{{ path('amsphp_be_a_speaker') }}">
                <p class="call">BE A SPEAKER</p>
                <p>Share your knowledge with the community!</p>
            </a>

            {% include 'AmsterdamPHPSiteBundle:Default:_blog_posts.html.twig' %}
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="row">
                {% include 'AmsterdamPHPSiteBundle:Default:_next_event.html.twig' with {event: next_event} %}
            </div>
            <div class="row">
                {% include 'AmsterdamPHPSiteBundle:Default:_past_events.html.twig' with {events: past_events} %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/bundles/amsterdamphpsite/js/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                minSlides: 1,
                maxSlides: 9,
                slideWidth: 120,
                slideMargin: 20,
                ticker: true,
                speed: 90000,
                randomStart: true
            });
        });
    </script>
{% endblock %}
