<div class="sponsors-category silver">
    <div class="header">
        <h2>Silver Sponsors</h2>
    </div>
    <div class="sponsor-list">
        {% for sponsor_pair in sponsors.silver|batch(2) %}
            <div class="sponsor-row">
                <div class="sponsor-pair">
                    {% for sponsor in sponsor_pair %}
                        <div class="sponsor">
                            <div class="logo">
                                <a href="{{ sponsor.url }}">
                                    <img src="{{ sponsor.getLogo() }}" alt="" />
                                </a>
                            </div>
                            <div class="info">
                                <h3 class="name">{{ sponsor.name }}</h3>
                                <p class="link"><a href="{{ sponsor.url }}">Check them out at {{ sponsor.url }}</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
