<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Add Package <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('admin_sponsor_add_package', { 'id': sponsor.id, 'type': 'meeting' }) }}">Meeting</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('admin_sponsor_add_package', { 'id': sponsor.id, 'type': 'community' } ) }}">Community</a></li>
        <li><a href="{{ path('admin_sponsor_add_package', { 'id': sponsor.id, 'type': 'generic' } ) }}">Generic</a></li>
        <li><a href="{{ path('admin_sponsor_add_package', { 'id': sponsor.id, 'type': 'bronze' } ) }}">Bronze</a></li>
        <li><a href="{{ path('admin_sponsor_add_package', { 'id': sponsor.id, 'type': 'silver'} ) }}">Silver</a></li>
        <li><a href="{{ path('admin_sponsor_add_package', { 'id': sponsor.id, 'type': 'gold'})  }}">Gold</a></li>
    </ul>
</div>
