<div class="col-lg-3 col-md-3"><img src="{{ gravatar(email) }}" title="{{ name }}" alt="{{ name }}"/></div>
<div class="col-9 col-md-9">
    <h4>{{ name }}</h4>
    <ul class="list-unstyled">
        <li><i class="fa fa-envelope"></i> {{ email }}</li>
    </ul>
</div>
